@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

body.dark-mode {
  background-color: #150931;
  color: #fff;
}

header {
  position: fixed;
  border-bottom: 1px solid #E6E5E5;
  width: 100%;
  z-index: 2;
  background: #fff;
  font-size: 2em;
  margin-bottom: 120px;
}

.header-right-elements {
  display: flex;
  gap: 20px;
}

.dark-mode header {
  background: #280f5e;
}

.dark-mode .logo {
  background: -webkit-linear-gradient(#5100FF, #8958F3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo {
  background: -webkit-linear-gradient(#5100FF, #8958F3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Archivo Black', sans-serif;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dark-mode .sidebar {
  background-color: #0f0623;
  color: #fff;
}

.sidebar {
  height: 100%;
  width: 350px;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px;
  display: flex;
  align-items: center;
  border-right: 1px solid #ECEBEB;
  background: #fff;

}

.sidebar ul {
  margin: 40px;
  padding: 0;
}

.sidebar ul li {
  list-style: none;
}

.dark-mode .sidebar a {
  color: #dfdfdf;
}

.sidebar a {
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  display: block;
  color: #333;
}

.sidebar a.active {
  color: #ff86ff;
}

.sidebar.closed {
  transform: translateX(-100%);
}

.sidebar button {
  margin: 10px;
  cursor: pointer;
}

.content.closed {
  margin-left: 0;
}

.content {
  margin-left: 350px;
  padding: 16px;
}

.section:nth-child(1) {
  margin-top: 90px;
}

.dark-mode .section {
  background: #100723;
}

.section {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ECEBEB;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: #fff;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.scroll-indicator {
  height: 5px;
  width: 0;
  background-color: #5100FF;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.dark-mode .DarkModeBtn i {
  color: #fff;
}


.DarkModeBtn {
  color: #333;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1em;
  margin-right: 20px;
}

.dark-mode #toggleSidebar {

}

#toggleSidebar {
  top: 10px;
  margin: 20px;
  z-index: 100;
  cursor: pointer;
  border-radius: 25px;
  background: rgb(228 226 226);
  color: #000;
  border: none;
  display: block;
}

#toggleSidebar i {
  padding: 10px;
}

ul {
  margin: 10px 30px;
}

.github {
  color: #333;
}

.dark-mode .github {
  color: #fff;
}

.github:hover {
  color: #9776DF;
}

@media only screen and (max-width: 768px) {

  .section {
    margin: 20px 0px;
    padding: 20px;
  }

  .header-container {
    gap: 10px;
  }

  .github {
    display: none;
  }

  .DarkModeBtn {
    display: none;
  }

  .logo {
    display: none;
  }

  .sidebar.collapsed {
    transform: translateX(-120%);
  }

  .main-content {
    margin-left: 80px;
  }

  /* Show sidebar toggle button */
  .sidebar-toggle {
    display: block;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1001;
    /* Ensure it's above the sidebar */
  }

}