@import './base.css';


@media (min-width: 1024px) {}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

body.dark-mode {
  background-color: #222;
  color: #fff;
}

header {
  position: fixed;
  margin-bottom: 50px;
  padding: 25px;
  border-bottom: 1px solid #E6E5E5;
  width: 100%;
  z-index: 1;
  background: #fff;
  font-size: 2em;
}

.dark-mode header {
  background: #333;
}

.dark-mode .logo {
  background: -webkit-linear-gradient(#B62AB4, #810D6D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo {
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark-mode .sidebar {
  background-color: #000;
  color: #fff;
}

.sidebar {
  height: 100%;
  width: 350px;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px;
  display: flex;
  align-items: center;
  transition: 0.3s;
  border-right: 1px solid #ECEBEB;
}

.sidebar ul {
  margin: 40px;
  padding: 0;
}

.sidebar ul li {
  list-style: none;
}

.dark-mode .sidebar a {
  color: #fff;
}

.sidebar a {
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  display: block;
  color: #333;
}

.sidebar a.active {
  color: #9776DF;
}

.sidebar.closed {
  transform: translateX(-400px);
}

.sidebar button {
  margin: 10px;
  cursor: pointer;
}

.content.closed {
  margin-left: 0;
}

.content {
  margin-left: 350px;
  padding: 16px;
  transition: 0.3s;
}

.section:nth-child(1) {
  margin-top: 60px;
}

.section {
  padding: 50px;
  transition: background-color 0.5s ease-in-out;
}

.section.active {
  background-color: #b13636;
  /* Color de fondo para resaltar la sección activa */
}

.scroll-indicator {
  height: 5px;
  width: 0;
  background-color: #5100FF;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.DarkModeBtn {
  position: fixed;
  right: 40px;
  bottom: 40px;
  transition: .3s;
  color: #9776DF;
  border: none;
  background: none;
  cursor: pointer;
}

.DarkModeBtn i {
  font-size: 1.5em;
}

#toggleSidebar {
  position: fixed;
  margin: 20px;
  z-index: 100;
  cursor: pointer;
  border-radius: 25px;
  background: rgb(68, 66, 184);
  color: #fff;
  border: none;
  transition: .3s;
}

#toggleSidebar:hover {
  transform: scale(1.3);
}

#toggleSidebar i {
  padding: 10px;
}

ul {
  margin: 10px 30px;
}

.github {
  font-size: 2em;
  position: fixed;
  right: 20px;
  top: 10px;
  color: #000;
}

.dark-mode .github {
  color: #fff;
}

.github:hover {
  color: #5100FF;
}