@import url('https://fonts.googleapis.com/css2?family=Anta&family=Inter:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Anta", sans-serif;
}

body.dark-mode {
  background-color: #150931;
  color: #fff;
}

header {
  position: fixed;
  border-bottom: 1px solid #E6E5E5;
  width: 100%;
  z-index: 2;
  background: #fff;
  font-size: 2em;
  margin-bottom: 120px;
  padding: 20px;
}

.header-right-elements {
  display: flex;
  gap: 20px;
}

.dark-mode header {
  background: #280f5e;
}

.dark-mode .logo {
  background: -webkit-linear-gradient(#EB9B3F, #CA9231);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo {
  font-family: "Anta", sans-serif;
  font-weight: bold;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dark-mode .sidebar {
  background-color: #0f0623;
  color: #fff;
}

.sidebar {
  height: 100%;
  width: 350px;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px;
  display: flex;
  align-items: center;
  border-right: 1px solid #ECEBEB;
  background: #fff;
}

.sidebar ul {
  margin: 10px;
  padding: 0;
}

.sidebar ul li {
  list-style: none;
  padding: 10px;
}

.dark-mode .sidebar a {
  color: #dfdfdf;
}

.sidebar a {
  text-decoration: none;
  font-size: 16px;
  display: block;
  color: #333;
}

.sidebar a.active {
  color: #ff86ff;
}

.sidebar button {
  margin: 10px;
  cursor: pointer;
}

.content.closed {
  margin-left: 350px;
}

.content {
  margin-left: 350px;
  padding: 16px;
}

.section:nth-child(1) {
  margin-top: 90px;
}

.dark-mode .section {
  background: #100723;
}

.section {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ECEBEB;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: #fff;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.section h1 {
  padding: 10px 0px;
}

.section h3 {
  padding: 10px 0px;
}

.section p {
  font-family: "Inter", sans-serif;
  text-align: justify;
  padding: 5px 0px;
}

.section ul {
  font-family: "Inter", sans-serif;
}

.section ul li {
  margin: 10px;
}

.section pre code {
  border-radius: 12px;
  font-size: 1.3em;
}

.scroll-indicator {
  height: 5px;
  width: 0;
  background-color: #5100FF;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.dark-mode .DarkModeBtn i {
  color: #fff;
}

.DarkModeBtn {
  color: #333;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1em;
  margin-right: 20px;
}

#toggleSidebar {
  top: 10px;
  z-index: 100;
  cursor: pointer;
  border-radius: 25px;
  background: rgb(228 226 226);
  color: #000;
  border: none;
  display: none;
}

#toggleSidebar i {
  padding: 10px;
}

ul {
  margin: 10px 30px;
}

.github {
  color: #333;
}

.dark-mode .github {
  color: #fff;
}

.github:hover {
  color: #9776DF;
}

@media only screen and (max-width: 768px) {

  header {
    z-index: 3;
  }

  .header-container {
    gap: 10px;
  }

  .github {
    display: none;
  }

  .DarkModeBtn {
    display: none;
  }

  .sidebar.collapsed {
    transform: translateX(-120%);
  }

  .main-content {
    margin-left: 80px;
  }

  #toggleSidebar {
    display: block;
  }

  .content {
    margin-left: 0px;
  }

  .sidebar {
    z-index: 2;
    transform: translateX(-100%);
  }

  .sidebar.closed {
    transform: translateX(0%);
  }

}